[submodule "glm"]
	path = deps/glm
	url = https://github.com/g-truc/glm.git
[submodule "native/libdatachannel"]
	path = deps/libdatachannel
	url = https://github.com/paullouisageneau/libdatachannel.git
